---
layout: base.njk
title: Welcome
---
<h1 class="text-2xl text-regal-blue">Bonjour monde</h1>
{%- from "macros.njk" import component -%}

<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Title Component" }) }}
    </div>
</div>